@import url("reset.css");
@import url('text.css');


body {
	font-family: 'Roboto', Helvetica, Arial, Ubuntu, sans-serif;
	color: #333;
}
header{
	background-color: #fff;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	flex-wrap: wrap;
}

@media (max-width: 560px){
	header{
		justify-content: center;
		height: auto;
		padding-bottom: 20px;
	}
} 
.logo-link{
	padding: 10px;
}
nav{
	padding: 10px;
	display: flex;
}
nav > a{
	margin: 0 20px;
	color: #053368;
	font-weight: 800;
	text-transform: uppercase;
}

#home{
	
}

.hero{
	height: 100vh;
	background-color: #333;
	background-image: url("/assets/hero.jpg");
	background-position:bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;

	display: flex;
	align-items: flex-end;

	margin-bottom: 40px;
}
/*#home > div:not(.hero){
	height: 400px;
}*/

#home .centralize{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px 40px 20px;
}
.underline{
	text-decoration: underline;
}
.ignore{
	text-decoration: line-through;
}