@import url("reset.css");
@import url('text.css');


body {
	font-family: 'Roboto', Helvetica, Arial, Ubuntu, sans-serif;
	color: #333;
}
header{
	background-color: #fff;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	flex-wrap: wrap;
	z-index: 100;
}

.logo-link{
	padding: 10px;
}
nav{
	padding: 10px;
	display: flex;
}
nav > a{
	margin: 0 20px;
	color: #053368;
	font-weight: 800;
	text-transform: uppercase;
}

#home{
	
}

.hero{
	height: 100vh;
	background-color: #333;
	background-image: url("/assets/hero.jpg");
	background-position:bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;

	display: flex;
	align-items: flex-end;

	margin-bottom: 40px;
}
/*#home > div:not(.hero){
	height: 400px;
}*/

 .centralize{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px 40px 20px;
}
.underline{
	text-decoration: underline;
}
.ignore{
	text-decoration: line-through;
}


#catalog{
	background-color: #111111;
	color: #fff;
	padding: 40px 0 0;
}
.travel-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0;
}

.travel-grid .travel-item{
	background-color: #000;
	margin-right: 18px;
	margin-bottom: 20px;
	width:196px;
	height: 273px;
	max-width: 300px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow:  2px 4px 2px #000;
}

.travel-grid .travel-item .title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	display: flex;
	align-items: flex-end;
}
.travel-grid .travel-item  img{
	transition: 2s;
}
.travel-grid .travel-item:hover img{
	transform: scale(1.1);
}


#contact{
	padding:  40px;
}

#contact form{
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
}
#contact form label{
	margin: 10px 0;
	padding: 0 10px;
}

#contact form input{
	display: block;
	border: none;
	margin: 12px 0 20px 0;
	font-family: inherit;
	padding: 9px;
	min-width: 400px;
	border-bottom: 2px solid #333;
}
#contact form .submit{
	padding: 0 10px;
	width: 100%;
}
#contact form button{
	padding: 10px 19px;
	background-color: #111;
	border: none;
	color: #fff;
	cursor: pointer;
}


@media (max-width: 560px){
	header{
		justify-content: center;
		height: auto;
		padding-bottom: 20px;
	}

	#contact form input{
		width: 100%;
		max-width: 400px;
		min-width: initial;
	}
} 